{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="search-results row">
        {% for item in images %}
        <div class="search-results__item col-sm-4 col-md-4 col-lg-3">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="{{ item.path }}" alt="Placeholder" class="img-responsive aspect__media-content" data-skin-percent="{{ item.percent }}" />
                </div>
            </div>

            <span class="search-results__caption">Skin Percent: {{ item.percent }}%</span>
        </div>
        {% endfor %}

        <nav class="col-xs-12 search-results__pagination">
            {{ pagination.links }}
        </nav>
    </div>
</div>
{% endblock body %}


